AzureDataFactory/pipeline/incremental_load_sales.json
{
	"name": "incremental_load_sales",
	"properties": {
		"activities": [
			{
				"name": "lookup_for_max_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT MAX(DATE_ID) as DATE_ID FROM dbo.Sales_Data",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lk_for_watermarktable_last_run_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT Last_run_date from WATERMARK",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_data_sql_rawlayer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_for_max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lk_for_watermarktable_last_run_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM dbo.Sales_Data\nWHERE DATE_ID > '@{activity('Lk_for_watermarktable_last_run_date').output.value[0]['Last_run_date']}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adlscp1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Stored procedure to update watermarktable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_rawlayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UPDATE_WATERMARK]",
					"storedProcedureParameters": {
						"WatermarkValue": {
							"value": {
								"value": "@activity('lookup_for_max_date').output.value[0]['DATE_ID']",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-06-13T22:44:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}