AzureDataFactory/pipeline/parameterized_incremental_load.json
{
	"name": "parameterized_incremental_load",
	"properties": {
		"activities": [
			{
				"name": "lookup_for_max_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT MAX(DATE_ID) as DATE_ID FROM @{pipeline().parameters.src_table}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CustomTable",
						"type": "DatasetReference",
						"parameters": {
							"par_table": {
								"value": "@pipeline().parameters.src_table",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Lk_for_watermarktable_last_run_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT Last_run_date from MULTIWATERMARK\nWHERE TABLE_NAME = '@{pipeline().parameters.src_table}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "copy_data_sql_rawlayer",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "lookup_for_max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lk_for_watermarktable_last_run_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.src_table}\nWHERE DATE_ID > '@{activity('Lk_for_watermarktable_last_run_date').output.value[0]['Last_run_date']}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".csv"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_db_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "adls_ds",
						"type": "DatasetReference",
						"parameters": {
							"folder": {
								"value": "@pipeline().parameters.src_table",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure to update watermarktable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "copy_data_sql_rawlayer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[UPDATE_MULTIWATERMARK]",
					"storedProcedureParameters": {
						"TableName": {
							"value": {
								"value": "@pipeline().parameters.src_table",
								"type": "Expression"
							},
							"type": "String"
						},
						"WatermarkValue": {
							"value": {
								"value": "@activity('lookup_for_max_date').output.value[0]['DATE_ID']",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"src_table": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-13T22:44:55Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}